# Intro to chemistRy

Welcome to the *chemistRy*, a product of the JMU Department of Chemistry and Biochemistry. This lesson and subsequent ones aim to teach you about data visualization, data tidying, statistics, and a bit of R coding. If you don't know how to code, don't worry! These lessons assume no prior knowledge of code or R.

A few things to start:

1.   These lessons only work in Google Chrome
2.   If you want to save your progress, go to File> Save a Copy in Drive; then locate a spot in your Drive folder
3.   This is a special Google Colab for R, regular Colab runs in Python. If you want to make your own R notebook, follow this [link](https://colab.research.google.com/drive/16u6W4rl-AHX_yXlQx7HcgjAuNimfqwj_).

If you have questions, feel free to contact Dr. Chris Berndsen in the JMU Chemistry Department.

# Introduction to R


R is a computer language that is associated with statistical analysis and data visualization. However, it has many uses including for data visualization and analysis in chemistry and biochemistry. While Microsoft Excel and Google Sheets can perform many of the tasks that we will learn to do in R, these programs are limited in their ability to work with and visualize large or complex data sets. Moreover, much of Excel and Sheets is designed for simplicity over customization.

In this course, you will use both Google Sheets and R to complete tasks to develop your data analysis and data visualization skills. While R may be difficult to use in the beginning, the experience of learning a bit of computational thinking and the practice applying problem solving skills provide gains outside of the chemistry world. Through these modules you will explore R programming and develop your skills in data analysis and visualization.


---
# Definitions
We start with a few definitions to help you succeed in learning R and completing the tasks.

A **code chunk** is what you see below:

In [ ]:
## comments look like this
code looks like this

These code chunks show examples of code along with **comments**. The comments are preceded by two `##` symbols. These are not lines that the computer reads, but lines for you, the reader, to read and learn from. As we move forward in these modules, the `##` will also serve as notes to future you and your instructor as you explain what you are doing. *Think of comments like your lab notebook, it is a way to keep notes and indicate what you are doing and observe.*


---

There will also be interactive chunks of code like shown below:

In [ ]:
## This chunk of code is interactive and you can type into these blocks

## Substitute your name in the blank space.
print("Hello, ______. You just ran R code!")

## Press the Run Code button at the left side of this chunk to see the result

As you are typing in the code chunks to complete the tasks, you may see suggestion or pop-up windows that look like:

![popup.png]()

The suggestions *may* help you but are not always correct, so be careful in using this option. The suggestions are not provided by the instructor but are built into the system.

Throughout this and future modules will be tasks that will be submitted to your instructor for assessment. The aim is to make sure you are making progress toward developing your skills.

## Assigning Values

A fundamental skill in R is assigning a value, which allows you to refer to one or more pieces of data in a simple way. To assign a value, first pick a name like x or df and then type an arrow using the left carat and a dash `<-`. Then assign the value.

For example, let's assign the value of 12 to the letter w. We would type `w <- 12` and then press the "Run" button to let R know that w has a value of 12. Try the exercise below and assign values as instructed.

In [ ]:
## assign 3 to the letter t

## type t, then press Run Code button

## Why assign values rather than just refer to the number?

At first glance, value assignment seems ridiculous. Why refer to 3 as t, rather than use 3 in an equation? For simple assignments, this is correct, however we may want to look at a set of data and will assign multiple values to a single name. For example, a student measures the pH value for one solution five times to determine the accuracy and precision of their measurement. The values are 4.9, 5.1, 5.1, 4.8, and 5.0. To calculate the average value and the error, you could type in each number into a calculator or the R console and do all the math. Alternatively, you could assign these values to a single name and simplify your typing. In doing this, you save yourself some effort and reduce the opportunities for errors.

### Naming multiple values

So, how to we assign multiple values to a name? First, you select your name (ex. `ph`), draw your `<-`, then type c and () (ex. `c()`). `c()` stands for combine and takes multiple inputs and combines them into a single unit which we name. The values are entered between the parenthesis of `c()` separated by commas. If we take the pH values from the above section and put them into `c()`, our result is:

`ph <- c(4.9, 5.1, 5.1, 4.8, 5.0)`

The `ph` object can now be used to calculate statistical values without having to type and re-type this string every time. The formal name of the `ph` object is a **vector**. A vector requires that all the data be the same type, meaning all numbers or all text and you *cannot* mix data types.

In [ ]:
## assign mass the values of 120.1, 122.0, 121.6, 120, and 127


## type mass


## calculate the average value using the mean function --> mean()
mean(mass)

## use the sd() function to calculate the standard deviation of mass
sd()

Now that we can name values and collections of values, we can begin to construct larger data sets and summarize the data contained therein.

---

## Math in R
As we saw at the end of the last section, R can perform math and operations on numbers, named objects, and vectors. This is most useful when dealing with large data sets where you want to analyze your data for trends or statistics. In this section we will explore the statistical aspect and we will talk about trends in a later module.

### Statistical functions
R has main statistical **functions** `mean()`, `sd()`, `median()`, `IQR()`, and `summary()`, which report out the mean/average value, the standard deviation, the median, the inter-quartile range, and a summary of your data, respectively. A function is a simple command that does a number of operations on the input of the function. In our previous example, we calculated the mean and standard deviation as shown:

In [ ]:
## make the vector ph


## calculate the mean


## calculate the standard deviation


## push the run code button at left!

The input, `ph`, was enclosed by the parenthesis of our function and when we run this code we get the result. Try to calculate the median, IQR, and summary of our mass vector in the code box below.

In [ ]:
## assign mass the values of 120.1, 122.0, 121.6, 120, and 127

## calculate the IQR of the data in mass


## calculate the median of the data in mass


## summarise the data in the mass vector

### Mathematical calculations

In addition to functions, you can do math on both numbers and named objects with one or more values. The language to do mathematical calculations is similar to that used in Google Sheets and Microsoft Excel.

  - `*` is for multiplication
  - `/` is for division
  - `+` is for addition
  - `-` is for subtraction
  - `^` raises the number to a power

If we want to add two numbers together, we type `2 + 14` and then run the code to produce `16`.

Similarly, we can do math on a vector, the difference is that the equation acts on each number in the vector. For example, if we want to convert the pH values in the ph vector to proton concentration ([H+]), we would type `10^-ph`, run the code and the result would be `1.258925e-05 7.943282e-06 7.943282e-06 1.584893e-05 1.000000e-05`.


---
Now try a few examples:

In [ ]:
## calculate the sum of 12, 16, and 34


## calculate 3 cubed


## assign mass the values of 120.1, 122.0, 121.6, 120, and 127


## the values in mass are in grams, convert the values in mass to kilograms


## you also assign actions on vectors to a new name
## convert mass to kilograms and call it mass_kg

## Data frames
In chemistry and biochemistry, we often are observing the effect of something on an outcome. The effect of reactant concentration on a reaction rate or how temperature changes the structure of a protein are good examples. In both of these examples, there are two sets of values to be considered and we might structure data in a table:

In [ ]:
# load the package tidyverse
library(tidyverse)

## create a data frame (named df with two columns)
## one called concentration
df <- data.frame(concentration = c(0, 1, 2, 4, 8, 16, 32, 64, 128),
             ## and one called rate
             rate = c(0, 0.1, 0.24, 0.37, 0.82, 1.55, 3.1, 6.7, 12.2))

# show the data table
df

Alternatively, you could enter the data into Microsoft Excel or Google Sheets as a spreadsheet and then import the file into R. We will use both methods.

---

### Tidy tables and data

Data frames are only useful forms of data if they are constructed carefully and **tidily**. In a tidy table, each column contains observations of a single type and each row represents a single observation. An untidy table is shown below:

In [ ]:
library(tidyverse)

# make the data table (called a tibble here)
df <- tibble(concentration = c("0", "1 M", "2000 mM", "4.00001", "8", "16", "32 M", "64 M", "128 M"),
             rate = c("0", "0.1 nmol/sec", "0.24 U/sec", "0.37", "0.82", "1.55", "3.1", "6.7", "12.2"),
             color = c("red", "red", "pink", "pink-ish", "cloudy but pink", "pink", "clear", "transparent", "light pink"),
             measurements = c("2 replicates", "3", "3", "2 + 1", "4", "6", "3", "3", "3"))

#show the data table
df

***The table above has issues!***

  1. The *concentration* and *rate* columns have issues with numbers with and without units.
  
  2. The *concentration* and *rate* columns show different units of measurement.
  
  3. The *color* column has inconsistent wording of color.Defined colors are used sometimes and then -ish or words like transparent and clear used at other times.
  
  4. The measurements column has replicates used in one observation and then `2+1`. What does that even mean?
  
  5. Significant figures are a mess and inconsistent!

We likely all have made tables like the untidy one when we started out or were in a hurry. However, untidy tables create issues with accessibility and communicating with others in addition to creating problems when trying to analyze and visualize the data. How can we fix the table?


---

One easy fix would be to make sure that all the numbers have consistent units which are indicated in the column headers. A second more difficult fix would be to ensure that all measurements are standardized or scored using the same scale to avoid pink vs. clear issues. This latter solution requires good communication and a bit of planning in advanced, but will save you from some frustrating times later on.

Let's look at the same data, but in tidy format:

In [ ]:
library(tidyverse)

#make the table
df <- tibble("concentration (M)" = c(0, 1, 2, 4, 8, 16, 32, 64, 128),
             "rate (nmol/sec)" = c(0, 0.10, 0.24, 0.37, 0.82, 1.5, 3.1, 6.7, 12),
             "absorbance at 450 nm" = c(0.05, 0.07, 0.08, 0.10, 0.11, 0.13, 0.15, 0.18, 0.21),
             "turbidity (NTU)" = c(1, 1, 1, 1, 1, 2, 3, 6, 10),
             "number of trials" = c(2, 3, 3, 3, 4, 6, 3, 3, 3))

# view the table
df

This table looks a lot better! Notice how units are included in the column headers and  the numbers in each column use the same units. In addition, the color column was changed from using a qualitative and inconsistent measurement like pink or red to using a spectrophotometer to measure absorbance. Then a new set of observations called turbidity was collected specifically focusing on the clarity of the sample. Finally, the number of trials is standardized. Now it is clear what the numbers represent and we can start to think about analyzing these data.


---



### Math in data frames

Like vectors, data in data frames can be analyzed and summarized. Run the code below and compare the differences between the first command and the second command.

In [ ]:
## create the data frame of mass and volume measurements
df <- data.frame("mass" = c(100, 105, 102, 92, 117),
                 "volume" = c(15, 14, 9.0, 16, 13))

## summarise the data in df
summary(df)

# summarize just the data in the mass column
summary(df$mass)

The command in line 6 shows the summary of both columns, while the command in line 9, results in the lower set of numbers.

Notice in the second command, the inclusion of `$`. A data frame name, followed by `$` and a column name (from the data frame), allows you to isolate only that column within the data frame for a function or doing calculations. For summarizing data, this can reduce the size of the results especially if you have parts of the data frame that aren't numbers or that you are not focusing on.

Now let's try some math using `$` to select a specific column.

In [ ]:
## create the data frame of mass and volume measurements
df <- data.frame("mass" = c(100, 105, 102, 92, 117),
                 "volume" = c(15, 14, 9.0, 16, 13))

## calculate the average of mass and name that mass_avg

## calculate the average of volume and name that vol_avg

## calculate the density from the averages

Is is possible to create a new column which calculates the density for each mass and volume pair using `$`?  Let's try it!

In [ ]:
## create the data frame of mass and volume measurements
df <- data.frame("mass" = c(100, 105, 102, 92, 117),
                 "volume" = c(15, 14, 9.0, 16, 13))

## calculate the density of each pair of samples


## try the same command, but assign it to a new column called density in the data frame.
## Hint: if the column already existed in the data frame how would you refer to it?

# Practice problem

In the R chunk below is an untidy data frame that needs to be fixed. Then, you calculate the rate values in mol/sec from the time and product data sets. Complete these tasks and create your final table. (See [here](https://colab.research.google.com/drive/1VaInetSJPAymyW51BRegmV4RLZXKdNLm#scrollTo=gsiyI6rPtNrK&line=7&uniqifier=1) and [here](https://colab.research.google.com/drive/1VaInetSJPAymyW51BRegmV4RLZXKdNLm#scrollTo=UROclak2te7K&line=1&uniqifier=1) for help with this problem)

In [ ]:
## clean up the data frame of product formed and time measurements
# time data should be in seconds
df <- data.frame("time" = c(5, 10, 20 sec, 30, 1 min, 120, 10 min),
                 # product data should be in mol
                 "product" = c(0.1 mol, 0.2, 0.4 moles, 0.6, 1.0, 2, 3))

## calculate the rate values and add a new column called rate
 <-

##  DO NOT CHANGE ANYTHING CODE BELOW THIS LINE!
df$rate <- round(df$rate, digits = 3)

The code chunk below is missing comments to explain what is happening. Add comments describing what is happening in each line. Remember to lead the comment lines with `#`. You can run the code to see the output if you are not sure what is happening

In [ ]:
#
naoh <- c(0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0)

ph <- c(1, 3, 4, 4.2, 4.3, 4.4, 4.8, 6, 9, 14)

ph_df <- data.frame(naoh = naoh,
                    ph = ph)

plot(ph_df)